.navbar {
    background-color: #f8f9fa;
    font-size: 1rem;
    padding: 0.5rem 0;
}

.navbar-nav .nav-link {
    text-decoration: underline;
    padding: 0.5rem 1rem;
}

.navbar-nav .nav-item {
    margin-right: 1rem;
}

.navbar-nav .dropdown-menu {
    text-align: center;
}